<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">
<head>
	<meta charset="UTF-8">
	<title>Pagina de empleos</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
	<!--  
	<h1 th:text="${mensaje}"></h1>
	<h2>Hoy es [[ ${fecha} ]]</h2>
	-->
	
	<h1>Bienvenido</h1>
	<h2>Oferta de trabajo</h2>
	<h3 th:text="'Titulo: ' + ${nombre} "></h3>
	<h3 th:text="'Fecha: ' + ${fecha} "></h3>
	<h3 th:text="'Salario: ' + ${salario} "></h3>
	<h3 th:text="'Vigente: ' + ${vigente} "></h3>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>